---
---
<footer class="bg-[#F8F9FA] flex justify-center py-10">
    <div class="max-w-[1200px] flex flex-col p-5 gap-10">
        <div class="flex gap-10">
            <div class="flex flex-col gap-5 w-1/2">
                <div class="flex gap-5">
                    <img class="w-[100px]" src="/public/Six-stars-logo.png">
                    <h2 class="text-3xl font-semibold">Taller Six Stars</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque ducimus enim odio
                    ratione,
                    tenetur voluptatem. A alias, amet architecto autem cumque dolorem earum est ex exercitationem
                    expedita
                    incidunt labore maxime modi optio perspiciatis possimus quaerat quidem repellendus sint sit?
                    Doloribus
                    ducimus harum impedit incidunt ipsum labore nisi nobis quas quos. A accusantium assumenda eius et
                    eveniet
                    explicabo illo in laudantium maxime mollitia nemo nisi numquam pariatur quia quis quo quod, sequi
                    sit
                    temporibus veritatis? Adipisci alias dolorum ducimus molestias nisi omnis perferendis, quam.
                    Consequatur
                    cumque hic id pariatur perspiciatis praesentium quam sequi. Debitis dicta eaque incidunt iure quae
                    ullam.
                </p>
            </div>
            <div class="flex flex-col gap-5 w-1/2">
                <div class="flex">
                    <h2 class="text-3xl">Contactanos</h2>
                </div>
                <div class="flex">
                    <h2 class="text-3xl">Contactanos</h2>
                </div>
                <div class="flex">
                    <h2 class="text-3xl">Contactanos</h2>
                </div>
                <div class="flex">
                    <h2 class="text-3xl">Contactanos</h2>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-5">
            <div class="flex justify-between w-100 ">
                <div>Six Stars</div>
                <div>Guatemala, Mixco</div>
            </div>
            <hr>
            @Copyright 2023. Six Stars
        </div>
    </div>
</footer>